
<div class="container-fluid py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
         <h5><app-header></app-header></h5>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/shop']">Shop</a>
      
        </nav>
        <a class="btn btn-outline-primary" [routerLink]="['/register']">Sign up</a>
        <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a>
      </div>