
<div class="row">
    <div  class="col-md-4 offset-md-4 ">
      <div class="register-card mb-5 card w-60">
      <div class="card-header text-center">
        <h2>Register</h2>
      </div>
  
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group mt-4">
                <label for="name">Name</label>
                <input id="name"
                 class="form-control"
                 [ngClass]="{'is-invalid': registerForm.get('name').touched && registerForm.get('name').invalid}"
                 formControlName="name" >
                <span class="invalid-feedback">Name can't be blank.</span>
              </div>

              <div class="form-group mt-4">
                <label for="email">Email</label>
                <input 
                  type="email" 
                  id="email"
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{'is-invalid': registerForm.get('email').touched && registerForm.get('email').invalid}"
                  >

                  <span class="invalid-feedback">
                <span *ngIf="registerForm.get('email').hasError('required')">Email can't be blank.</span>
                <span *ngIf="registerForm.get('email').hasError('email')">Email must be valid.</span>
              </span>
              </div>

          <div class="form-group mt-4">
            <label for="username">Username</label>
            <input id="username" 
            formControlName="username"
             class="form-control"
             [ngClass]="{'is-invalid': registerForm.get('username').touched && registerForm.get('username').invalid}"
             >
            <span class="invalid-feedback">Username can't be blank.</span>
          </div>
  
          <div class="form-group mt-4">
            <label for="password">Password</label>
            <input id="password"
             type="password"
              formControlName="password"
               class="form-control"
               [ngClass]="{'is-invalid': registerForm.get('password').touched && registerForm.get('password').invalid}"
               >
            <span class="invalid-feedback">Password can't be blank.</span>
          </div>

          <div class="form-group mt-4">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword"
             type="password"
              formControlName="confirmPassword" 
              class="form-control"
              [ngClass]="{'is-invalid': registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid}"
              >
            <span class="invalid-feedback">Passwords must match.</span>
          </div>
          
          <div class="d-grid gap-2 mt-5">
            <button  class="btn btn-primary" [disabled]="registerForm.invalid" [routerLink]="['/shop']" >Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>