/* You can add global styles to this file, and also import other style files */

.container{
   width: 100%;
}

.cart-item{
    font-size: small;
}

.filters{
    font-size: 15px;
}

.product-btn{
    font-size: smaller;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}